.lsBtnsContainer{
    padding-top:20px;
    width:400px;
}
.lsBtn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
    padding:5px;
    width:100px;
}
.lsBtn:hover{
    background-color:white;
    color:#18BC9C;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer-primary{
	color:#747D9A;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #F2F2F2;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.modal-footer-primary a, a:hover, a:visited, a:link, a:active, a:link:active, a:visited:active{
    color:#747D9A;
    text-decoration: none;
}
.modal-footer-primary a:hover{
    color:#B6BDD6;
}

.navbar-footer{
    background: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}
.navbar-footer a:focus {
  outline: none;
}

.navbar-footer li a {
  color: white;
}
.navbar-footer li a:hover {
  color: #18BC9C;
  outline: none;
}

.navbar-footer li a:focus,
.navbar-footer li a:active {
  color: white;
}
.navbar-footer li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-footer li.active a:hover,
.navbar-footer li.active a:focus,
.navbar-footer li.active a:active {
  color: white;
  background: #18BC9C;
}
.ChatNowBtn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}
.ChatNowBtn:hover{
    background-color:white;
    color:#18BC9C;
    cursor: pointer;
}
.availableTutorName{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.availableTutorName li a{
    color: white;
    text-decoration: none;
}
.availableTutorName li a:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.availableTutorName li{
    float:left;
}
.aboutMeContainer{
      position: relative;
    display: inline-block;
/*
    background-color: rgba(0, 0, 0, 0.2);
    outline: 1px solid black;
*/
}
.aboutMeWrapper img{
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
.aboutMeWrapper:hover img{
/*    opacity: 1;*/
}
.aboutMeWrapper:hover .aboutMeContainer{
    background-color: rgba(139, 218, 255, 0.6);
    border-radius: 3px;
    cursor:pointer;
}
.aboutMeContainer{
    position: relative;
    width:256px;
    padding:5px;
    float:left;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    color: black;
}
.profilePictureContainer{
    position: relative;
    width:256px; 
    height:256px;
    outline: 1px solid #2c3e50;
}
.profilePictureContainer .profilePictureOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.profilePictureContainer:hover .profilePictureOverlay{
    display:block;
    background-color: rgba(0,0,0,0.6);
}
.editProfilePictureBtn{
    background-color: transparent;
    float:right; 
    outline: 1px solid white; 
    padding:5px;
}
.editProfilePictureBtn:hover{
    outline: 1px solid black; 
    cursor:pointer;
}
.favTutorPictureContainer{
    position: relative;
    width:50px; 
    height: 50px; 
    outline: 1px solid black;
}
.favTutorPictureContainer .favTutorOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.favTutorPictureContainer:hover .favTutorOverlay{
    display:block;
    background-color: rgba(0,0,0,0.6);
}
.tutorSignUpFC{
    
    width:100%;
    float:left;
}
.teachSubject{
    width:100%;
    height:100px;
    background-color:#f0f0f0;
    display: block;
    border-radius: 5px;
    padding:10px;
    overflow: auto;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}
#teachSubject{
    margin: auto;
    width:98%;
    height:100%;
    overflow: auto;
}
.addedSubjectWell, .suggestedSubjectWell{
    float:left; 
    margin-right:10px; 
    cursor:pointer;
}
.addedSubjectWell{
    cursor: default;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}
/*
.ss{
    background-color: transparent;
    color: white;
    margin:0px;
    padding:0px; 
}
.ss:hover{
    margin:0px;
    padding:0px;
}
*/

/*
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
*/

/*
.ss,
.ss:hover,
.ss:focus,
.ss:active,
.ss.active {
    background-color: transparent;
    color: white;
    margin:0px;
    padding:0px;
}
*/
/*
.profileList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.profileList li {
    float:left;
}*/
